<!DOCTYPE html>
<html>
<head>
  <title>Blogspot</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag :ckeditor %>
  <%= csrf_meta_tag %>
</head>
<body style="background:#43CAD3;">

<%= yield %>

</body>
</html>

